{% extends 'base.html' %}
{% load static %}

{% block title %}
    BMW Company
{% endblock %}
{% block content %}
    <section class="{% block section_class %}base{% endblock section_class %}">
        <div class="container">
            <div class="row-1">
                <div class="col">
                    <div class="text-center">
                        <h2>
                            Bayerische Motoren Werke AG, abbreviated as BMW, is
                            a
                            German multinational manufacturer of performance
                            luxury
                            vehicles and motorcycles headquartered in Munich,
                            Bavaria, Germany.
                        </h2>
                    </div>
                </div>
                <div class="row-2">
                    <div class="col">
                        <div class="text-center">
                            <h1><b>Our history</b></h1>
                        </div>
                    </div>
                </div>
                <div class="row-3">
                    <div class="col">
                        <img class="w-10"
                             src="{% static 'images/main/bmw_history.jpg' %}"
                             alt="history">
                        <p>
                            BMW, in full Bayerische Motoren Werke AG, German
                            automaker
                            noted for quality sports sedans and motorcycles.
                            Headquarters are in Munich.

                            It originated in 1916 as Bayerische Flugzeug-Werke,
                            a
                            builder of aircraft engines, but assumed the name
                            Bayerische Motoren Werke in July 1917 and began
                            producing
                            motorcycles in the 1920s. BMW entered the
                            automobile
                            business in 1928. The company’s R32 motorcycle set
                            a
                            world
                            speed record that was not broken until 1937. During
                            World
                            War II BMW built the world’s first jet airplane
                            engines,
                            used by the Luftwaffe, Germany’s air force. After
                            the
                            war
                            the company tried to move into the small-car market
                            but
                            found that it could not compete effectively against
                            Volkswagen’s compact, inexpensive autos. By 1959
                            the
                            company was on the verge of bankruptcy, and its
                            managers
                            were planning to sell the firm to Daimler-Benz.

                            In that year, however, BMW pulled out of its
                            financial
                            slump; German entrepreneur Herbert Quandt acquired
                            a
                            controlling interest in the firm, and BMW
                            introduced
                            its
                            700 series, soon followed by the equally successful
                            1500
                            model. At about the same time, the company
                            introduced a
                            new
                            series of motorcycles that were particularly
                            popular in
                            the
                            United States.
                        </p>
                    </div>
                </div>
                <div class="row-3">
                    <div class="col">
                        <p>BMW was firmly established as a premium
                            automobile brand by the end of the 20th century. In
                            a failed attempt to gain market share as a
                            sport-utility vehicle company, BMW purchased the
                            Rover Group in 1994 but lost roughly $4 billion
                            before selling the Land Rover brand to Ford in
                            2000. BMW saw great success with the relaunch of
                            the British MINI in 2001, however, and another
                            British brand, Rolls-Royce, became part of BMW in
                            2003. Members of the Quandt family continued to
                            hold a significant stake in the company.</p>
                    </div>
                </div>
                <div class="row-4">
                    <div class="col col-lg-4 offset-lg-4">
                        <h3>Contact Form:</h3>
                        <form method="post">
                        {% csrf_token %}
                            {% for field in form %}
                                <label>{{ field.label }}</label>
                                <div class="row">
                                    {{ field }}
                                </div>
                            {% endfor %}
                        <input type="submit" class="btn btn-primary mt-2" value="Send your mail">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}