{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="text-center">
                <h1>{{ product.name }}</h1>
                <div class="row">
                    <div class="col-12 col-lg-6 offset-lg-3">
                        <div class="mb-3">
                            <div class="card border-primary"
                                 style="width: 45rem;">
                                <img src="{{ product.image.url }}"
                                     class="product-image p-3"
                                     alt="{{ product.name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ product.category.name }}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        SKU: {{ product.sku }}</h6>
                                    <p class="card-text">
                                        {{ product.description }} <br>
                                        <br>
                                        {% if product.products.exists %}
                                            <p>Including:</p>
                                            {% for sub in product.products.iterator %}
                                                <p>{{ sub.name }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    <i>Price
                                        in {{ product.currency }}: {{ product.price }} </i><br>
                                    {% if product.currency != 'UAH' %}
                                        <i>Price in
                                            UAH: {{ product.actual_price }}</i>
                                    {% endif %}
                                    {% if request.user.is_authenticated %}
                                        <form method="post"
                                              action="{% url 'add_shopping_cart' %}">
                                            {% csrf_token %}
                                            <input type="hidden"
                                                   value="{{ product.id }}"
                                                   name="product_uuid">
                                            <input type="submit"
                                                   class="btn btn-outline-success"
                                                   value="Buy it">
                                        </form>
                                        <form method="post"
                                              action="{% url 'add_favourites' %}">
                                            {% csrf_token %}
                                            <input type="hidden"
                                                   value="{{ product.id }}"
                                                   name="product_uuid">
                                            <input type="submit"
                                                   class="btn btn-outline-info btn-sm"
                                                   value="Add to favourites">
                                        </form>
                                    {% else %}
                                        <br>
                                        <a href="{% url 'login' %}"
                                           class="btn btn-secondary">
                                            Login to buy
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}