{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <section xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="text-center">
                <h1>{{ product.name }}</h1>
                <div class="row">
                    <div class="col-12 col-lg-6 offset-lg-3">
                        <div class="mb-3">
                            <div class="card border-primary"
                                 style="width: 45rem;">
                                <img src="{{ product.image.url }}"
                                     class="product-image p-3"
                                     alt="{{ product.name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ product.category.name }}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        SKU: {{ product.sku }}</h6>
                                    <p class="card-text">
                                        {{ product.description }} <br>
                                        <br>
                                        {% if product.products.exists %}
                                            <p>Including:</p>
                                            {% for sub in product.products.iterator %}
                                                <p>{{ sub.name }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    <i>Price
                                        in {{ product.currency }}: {{ product.price }} </i><br>
                                    {% if product.currency != 'UAH' %}
                                        <i>Price in
                                            UAH: {{ product.actual_price }}</i>
                                    {% endif %}
                                    {% if request.user.is_authenticated %}
                                        <form method="post"
                                              action="{% url 'add_shopping_cart' %}">
                                            {% csrf_token %}
                                            <input type="hidden"
                                                   value="{{ product.id }}"
                                                   name="product_uuid">
                                            <input type="submit"
                                                   class="btn btn-outline-success"
                                                   value="Buy it">
                                        </form>
                                        <br>
                                <p>
                                    <a href="javascript:void(0);"
                                       data-product="{{ product.id }}"
                                       class="add-or-delete-product pe-3">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-heart {% if product in favourites_products %}d-none{% endif %}"
                                                 viewBox="0 0 16 16">
                                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                            </svg>

                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-heart-fill {% if not product in favourites_products %}d-none{% endif %}"
                                                 viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                            </svg>
                                    </a>
                                </p>
                                    {% else %}
                                        <br>
                                        <a href="{% url 'login' %}"
                                           class="btn btn-secondary">
                                            Login to buy
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('.add-or-delete-product').click(function () {
                add_or_delete_favourites($(this))
            })
        })
    </script>
{% endblock %}