<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
<h1>Items:</h1>
{% for item in items %}
    <p>
        <span>Name: {{ item.name }} |</span>
        <span>Description: {{ item.description }} |</span>
        <span>Category: {{ item.category.name }} ;</span>
    </p>
{% endfor %}
<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <label>{{ field.label }}</label>
            {{ field }}
        {% endfor %}
        <input type="submit" value="Create Item">
    </form>
</div>
</body>
</html>